.card-container{
    width: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    margin:2rem 1rem;
    border-radius: 8px;
}

.image-container img{
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 250px;
    width: 250px;
}

.card-title {
    background-color: #1A4965;
    padding:.3rem;
}

.card-title h3 {
    color:white;
}