* {
  padding:0;
  margin:0;
  box-sizing: border-box;
}
#display-paginated {
  width:1200px;
  margin: 0 auto;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
  background-color: #A8DADC;
  box-shadow: 0px 0px 15px -5px;
}

#genre-header{
  margin: 0 auto;
  font-weight: bolder;
  font-size: 30px;
}

#book-title{
  font-weight: bold;
  text-decoration: underline;
}

#book-author{
  font-style: italic;
}