#author-container{
    min-height: 80vh;
    margin-left: 30px;
    margin-right: 30px;
  }


#books-by{
    font-weight: bolder;
    margin-top: 100px;
}

#related-author-books{
    font-weight: bolder;
    position: absolute;
    margin-bottom: 200px;
}

#author-pic{
   margin: 0 auto;
   margin-bottom: 30px;
   float: left;
}

#author-name{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 20px;
}

#author-book-img{
   margin: 0 auto;
   margin-top: 10px;
   padding: 0px 20px;
}

#author-name-header{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    font-weight: bolder;
}

#author-row{
    display: flex;
    flex-direction: column;
}



.related-books-display{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5px;
    padding-bottom: 30px;
}

#author-bio-paragraph{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
}