#wishlist-container {
  width:1400px;
  margin:1rem auto;
}

#wishlist-container h3 {
  font-size:2rem;
}

.wishlist-book-container {
  display: flex;
  align-items: center;
  border:1px solid #ddd;
  border-radius: 8px;
  width: 70%;
  margin:1rem auto;
  padding:1rem;
  text-align: left;
  background-color: #f9f9f9;
}

.wishlist-book-container img {
  height: 150px;
  margin-right:2rem;
}

.wishlist-book-info {
  display: flex;
  align-items: center;
}