*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.curated-container {
  display: flex;
  justify-content: space-around;
  width:70%;
  margin: 0 auto;
  background-color:#f9f9f9;
  padding:20px 10px;
  border-radius:8px;
  border:1px solid #ccc;
}

.curated-container img {
  height:120px;
}

#loading {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
}

#loading .message {
  min-width: 480px;
  padding: 3rem;

  box-shadow: 0 2px 8px black;
  background: white;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
